* {
    margin: 0;
    padding: 0;
    outline: none;
}

canvas {
    margin-bottom: -5px;
    cursor: crosshair;
}

nav {
    opacity: 0.25;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 0.3em;
}

header nav {
    display: block;
}

footer nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

nav:hover {
    opacity: 0.80;
}

nav ul {
    list-style: none;
    padding-left: 0.25em;
    float: left;
}

nav ul li {
    float: left;
}

nav ul li * {
    float: left;
    font-family: Century Gothic, Apple Gothic, sans-serif;
    font-size: 11px;
    color: #ffffff;
    text-decoration: none;
    padding: 0em 0.15em;
    cursor: pointer;
}

nav ul li *:hover {
    color: #ff6600;
}

#show {
    position: absolute;
    bottom: 0px;
    right: 4px;
    font-family: Century Gothic, Apple Gothic, sans-serif;
    font-size: 11px;
    color: #ffffff;
}

#show.hide { display: none; }
#show.visible { display: block; }

#show a {
    cursor: pointer;
    color: inherit;
}
